{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <h1>Register agent</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.lastname) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password) }}
    {{ form_row(registrationForm.question) }}

    <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
        <p>
            <a href="{{ path('app_logout') }}">Logout</a>
        </p>
        <p>
            <a href="{{ path('manager_tools') }}">Tools</a>
        </p>
    </div>
{% endblock %}
