{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

  {% block stylesheets %}
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
      <style>h1{
              margin-left:30%;
              margin-top:5%;
          }
          form{
              margin-left:30%;
              margin-top:1%;
                        }
      </style>
  {% endblock %}
{% block body %}
    <div class="form-group mb-3">
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password) }}
        {{ form_row(registrationForm.question) }}

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
