{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        body{
            padding-top: 20px;
            padding-left:10%;
        }
        td{
            border-top: 1px solid grey;
            padding-left: 10px;
        }
        th{
            padding-left: 10px;
        }
        tr{
            padding:30px;
        }
        table{
            width: 70%;
            border:solid 1px gray;
            margin-bottom: 30px;
            padding-left:10px;
        }
        .button {
            display: block;
            width: 115px;
            height: 35px;
            background: #4E9CAF;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            border-radius: 2px;
            color: white;
            font-weight: bold;
            line-height: 35px;
        }.button:hover{
             text-decoration: none;
             color:black;
         }
        .button2 {
            display: block;
            width: 115px;
            height: 35px;
            background:gainsboro;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            border-radius: 2px;
            color: gray;
            font-weight: bold;
            line-height: 35px;
        }
        .button2:hover{
            text-decoration: none;
            color:black;
        }
    </style>
{% endblock %}
{% block title %}Hello ManagerController!{% endblock %}

{% block body %}
    <p>Manager Name : {{ managerName.firstname }} {{ managerName.lastname }}</p>
<h1> Unclaimed Tickets</h1>
    <table>
        <tr>
            <th>Priority</th>
            <th>Status</th>
            <th>Title</th>
            <th>Made</th>
            <th>History</th>
        </tr>
        {% for ticket in allMadeTickets  %}
            <tr>
                <td>{{ ticket.priority }}</td>
                {%  if  ticket.status == 2 %}
                    <td>Waiting for customer</td>
                {% endif %}
                {%  if  ticket.status == 1 %}
                    <td>Waiting for agent</td>
                {% endif %}
                {%  if  ticket.status == 3 %}
                    <td>Ticket closed</td>
                {% endif %}
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.time|date("m-d H:i") }}</td>
<<<<<<< HEAD
                <td><button><a href="/index.php/comment/{{ ticket.id }}">History</a></button></td>
                <td><button>High Priority</button></td>
                <td><button>Medium Priority</button></td>
                <td><button>Low Priority</button></td>
=======
                <td><button><a class="button2" href="/index.php/comment/{{ ticket.id }}">History</a></button></td>
>>>>>>> 2b67cc6b85f187567aa8375434b1322c942851f1
            </tr>
        {% endfor %}
    </table>
<h1>In Progress</h1>
<table>
    <tr>
        <th>Priority</th>
        <th>Status</th>
        <th>Title</th>
        <th>Made</th>
        <th>History</th>
        <th>Agent Assigned</th>
    </tr>
    {% for ticket in AssTickets %}
    <tr>
        <td>{{ ticket.priority }}</td>
        {%  if  ticket.status == 2 %}
            <td>Waiting for customer</td>
        {% endif %}
        {%  if  ticket.status == 1 %}
            <td>Waiting for agent</td>
        {% endif %}
        {%  if  ticket.status == 3 %}
            <td>Ticket closed</td>
        {% endif %}
        <td>{{ ticket.title }}</td>
        <td>{{ ticket.time|date("m-d H:i") }}</td>
        <td><button><a class="button2" href="/index.php/comment/{{ ticket.id }}">History</a></button></td>
        <td>{{ ticket.agentid.getFirstname() }} {{  ticket.agentid.getLastname() }}</td>
        <td><button>High Priority</button></td>
        <td><button>Medium Priority</button></td>
        <td><button>Low Priority</button></td>
    </tr>
    {% endfor %}
</table>
<form method="post">
<button type="submit" name="SHUTUPNEIL">UNCLAIM ALL!</button>
</form>


<div class="example-wrapper">
    <p>
        <a class="button" style="float:right; margin-right: 25%;" href="{{ path('app_logout') }}">Logout</a>
    </p>
    <p>
        <a class="button2" href="{{ path('manager_tools') }}">Tools</a>
    </p>
</div>
{% endblock %}
