{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Title: {{ ticket.getTitle() }}</h1>
    <p>Submitted by {{ ticket.getCustomerid().getFirstname() }} {{ ticket.getCustomerid().getLastname() }}, on {{ ticket.time|date("m-d H:i") }}</p>
    <p>{{ ticket.getContent }}</p>
</div>
    {% for message in messageHistory %}
        <h4>By : {{ message.getUserid().getFirstname }} @ {{ message.time|date("m-d H:i") }}</h4>
        <p> - {{ message.getContent() }}</p>
    {% endfor %}
    <div>
        {{ form_start(commentForm) }}
        <button type="submit" class="btn">Add</button>
        {{ form_end(commentForm) }}
    </div>
    <p>
        <a href="{{ path('customer') }}">Back to customer page</a>
    </p>
{% endblock %}
