{% extends 'base.html.twig' %}

{% block title %}Hello CustomerController!{% endblock %}
 {% block stylesheets %}
     <style>
         body{
             padding-top: 20px;
             padding-left:10%;
         }
         td{
             border-top: 1px solid grey;
         }
         tr{
             padding:30px;
         }
         table{
             width: 80%;
             border:solid 1px gray;
             margin-bottom: 30px;
             padding-left:10px;
         }
         .button {
             display: block;
             width: 115px;
             height: 35px;
             background: #4E9CAF;
             padding-left: 10px;
             padding-right: 10px;
             text-align: center;
             border-radius: 2px;
             color: white;
             font-weight: bold;
             line-height: 35px;
         }.button:hover{
              text-decoration: none;
              color:black;
          }
         .button2 {
             display: block;
             width: 115px;
             height: 35px;
             background:gainsboro;
             padding-left: 10px;
             padding-right: 10px;
             text-align: center;
             border-radius: 2px;
             color: gray;
             font-weight: bold;
             line-height: 35px;
         }
         .button2:hover{
             text-decoration: none;
             color:black;
         }
     </style>
 {% endblock %}
{% block body %}

<div class="example-wrapper">
<table>
    <tr>
        <th>Status</th>
        <th>Title</th>
        <th>Made</th>
    </tr>
    {% for ticket in allTickets  %}
        <tr>
            {%  if  ticket.status == 2 %}
                <td>Waiting for customer</td>
            {% endif %}
            {%  if  ticket.status == 1 %}
                <td>Waiting for agent</td>
            {% endif %}
            {%  if  ticket.status == 3 %}
                <td>Ticket closed</td>
            {% endif %}
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.time|date("m-d H:i") }}</td>
            <td><button><a class="button2" href="/index.php/comment/{{ ticket.id }}">History</a></button></td>
        </tr>
    {% endfor %}
</table>

<p>Add your complaint here</p>
        {{ form_start(ticketForm) }}
        {{ form_row(ticketForm.title) }}
        {{ form_row(ticketForm.content) }}
        <button class="button2">Add</button>
        {{ form_end(ticketForm) }}
    <p>
    <a class="button" style="float:right; margin-right:20%; margin-top:-10%;" href="{{ path('app_logout') }}">Logout</a>
    </p>
</div>
{% endblock %}
